{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Portfolio{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />
    
    {% block css %}
    {% endblock %}
  </head>
  <body>
    
    
    <nav class="topnav">
        <div class="logo-container">
            <img src="{% static 'images/name_logo.png' %}" alt="Name Logo" class="name-logo" />
        </div>
        <div class="nav-links">
            <a href="{% url 'portfolio:index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Home</a>
            <a href="{% url 'portfolio:portfoliopage' %}" class="{% if request.resolver_match.url_name == 'portfoliopage' %}active{% endif %}">Portfolio</a>
            <a href="{% url 'portfolio:about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a>
            <a href="{% url 'portfolio:contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a>
        </div>
    </nav>
       
    <div class="container">{% block content %}{% endblock %}</div>

  </body>
</html>
